.about-me {
  margin-top: 80px;

  &__inner {
    position: relative;
    padding: 50px 0 120px;
  }

  &__text {
    margin-top: 144px;
  }

  &__img {
    position: absolute;
    width: 136px;
    height: 160px;
    top: 52px;
    right: 22px;
    transform: rotate(-10deg);
  }
}