.about-project {
  padding: 110px 0;

  &__title {
    margin-top: 65px;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 32px;
  }

  &__img {
    img {
      margin-top: 40px;
    }
  }
}