.contact-page {
  margin-top: 300px;
  margin-bottom: 220px;

  @media (max-width: 768px) {
    margin-top: 180px;
    margin-bottom: 140px;
  }

  &__line {
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 173px;
    color: var(--text-color);

    display: flex;
    align-items: flex-end;

    &--main {
      margin-left: 240px;
      color: var(--accent-color);

      @media (max-width: 768px) {
        margin-left: 0;
        margin-bottom: 40px;
      }
    }

    label {
      white-space: nowrap;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      font-size: 36px;
      flex-wrap: wrap;
      line-height: 42px;
    }
  }

  &__btn {
    margin-top: 80px;
  }

  &__input {
    display: block;
    padding: 17px 140px;
    border-bottom: 1px solid var(--separator-color);
    width: auto;
    height: auto;
    margin-bottom: 50px;
    flex: 1;
    outline: none;
    font-family: 'SF Pro Display';

    &:active, &:focus {
      border-bottom: 1px solid var(--accent-color);
    }

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }
}
