.footer {
  color:#BDBDBD;
  padding: 30px 0;

  &__copyright {
    display: block;
  }

  &__policy {
    text-decoration: underline;
  }

  &__inner {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
}