.growth-rates {
  padding-bottom: 110px;
  position: relative;

  &__title {
    white-space: wrap;
    width: 160px;

    @media (min-width: 1140px) {
      margin-left: 240px;
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 30px;

    @media (min-width: 1140px) {
      margin-left: 240px;
      width: 250px;
    }
  }

  &__slider {
    margin-top: 60px;
    user-select: none;

    .swiper-scrollbar {
      bottom: 60px !important;
      opacity: 0.5;
    }

    @media (min-width: 1140px) {
      margin-top: 130px;
    }
  }

  &__img {
    img {
      width: 100%;
    }

    &--main {
      display: none;

      @media (min-width: 1140px) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;

        img {
          width: 520px;
        }
      }
    }
  }
}