.header {
  padding: 15px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  z-index: 5;

  &.fixed {
    position: fixed;
    border-bottom: 1px solid var(--separator-color);
    animation-name: showHeader;
    animation-duration: 0.5s;
  }

  @media (min-width: 768px) {
    padding: 27px 0;
    overflow: hidden;
  }

  &__inner {
    @include flex-all-sb;

    @media (min-width: 768px) {
      position: relative;
      align-items: flex-start;
      justify-content: start;
      overflow: hidden;
    }
  }

  &__logo {
    width: 46px;
    height: 30px;

    @media (min-width: 768px) {
      margin-right: 38px;
    }
  }

  @keyframes showHeader {
    from {
      top: -500px;
    }
    to {
      top: 0;
    }
  }
}
