.header {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color);
  overflow: hidden;
  z-index: 5;

  &__inner {
    @include flex-all-sb;
  }

  &__logo {
    width: 46px;
  }
}