.intro {

  margin-top: 70px;
  padding: 50px 0;

  &__text {
    position: relative;
    max-width: 160px;
    padding-left: 42vw;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 38vw;
      height: 1px;
      background: #E0E0E0;
    }
  }

  &__inner {
    position: relative;
  }

  &__img {
    position: absolute;
    top: -45px;
    right: 0;
    width: 48vw;
    height: auto;
    z-index: -1;
  }
}