.nav {
  // position: relative;
  font-size: 20px;

  &__list {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;

    padding-top: 130px;
    padding-bottom: 50px;
    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &.hiden {
      @media (min-width: 768px) {
        display: flex;
        position: static;
        visibility: visible;
        width: auto;
      }
    }

    @media (min-width: 768px) {
      text-align: start;
      padding-top: 94px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 40px;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 15px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .btn-wrapper {
    @media (min-width: 768px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}