.team {
  padding-bottom: 110px;

  &__title {
    @media (min-width: 1140px) {
      margin-left: 240px;
      margin-top: 10px;
    }
  }

  &__text {
    margin-top: 30px;

    @media (min-width: 1140px) {
      margin-left: 240px;
      width: 250px;
    }
  }

  &__slider {
    user-select: none;
    overflow: hidden;
    margin-top: 30px;

    @media (min-width: 1140px) {
      .swiper-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__img {
    img {
      width: 100%;
    }

    &--main {
      display: none;
    }

    @media (min-width: 1140px) {
      &--main {
        display: block;
        position: absolute;
        top: 0;
        right: 45px;
        width: 220px;

        &:first-child {
          right: 360px;
        }
      }
    }
  }
}