.testimonials {
  margin-bottom: 110px;

  @media (min-width: 1140px) {
    margin-bottom: 200px;
  }

  &__title {
    margin-top: 50px;
  }

  &__slider {
    user-select: none;
    margin-top: 60px;

    .video-block__video {
      height: 230px;
      object-fit: cover;
    }

    @media (min-width: 1140px) {
      .swiper-wrapper {
        display: flex;
        align-items: flex-end !important;
      }

      .video-block {
        width: 280px;
      }

      .video-block__video {
        height: 200px;
      }

      .swiper-slide {
        transition: all 0.3s linear;
      }

      .swiper-slide-active {
        width: 465px !important;

        .video-block {
          width: auto;
        }

        .video-block__video {
          height: 300px;
          width: 100%;
        }
      }

      .swiper-slide-next {
        width: 380px !important;

        .video-block {
          width: auto;
        }

        .video-block__video {
          height: 250px;
          width: 100%;
        }
      }
    }
  }

  &__name {
    display: block;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
  }

  &__role {
    margin-top: 3px;
    color: #828282;
  }
}