.theme-toggle {
  width: 26px;
  height: 26px;
  cursor: pointer;

  &__icon {
    width: 26px;
    height: 26px;
  }

  @media (min-width: 768px) {
    margin-right: 170px;
    margin-top: -2px;
  }
}