<section class="about-me">
  <div class="container">
    <div class="section-separator"></div>
    <div class="about-me__inner">
      <h2 class="section-title title">Обо мне</h2>
      <div class="about-me__text">
        <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
      </div>
      <picture class="about-me__img">
        <source srcset="img/mobile/about-photo.avif" type="" media="">
        <source srcset="img/mobile/intro-photo.webp" type="" media="">
        <img src="img/mobile/intro-photo.jpg" alt="intro photo" class="img-shadow">
        <video src=""></video>
      </picture>
      <video src="videos/lorem.mp4" poster="img/cover/about-me-cover.jpg" preload="metadata" controls class="about-me__video"></video>
      <div class="back-text-block">
        <div class="back-text-block__line">
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
        </div>
        <div class="back-text-block__line">
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
        </div>
        <div class="back-text-block__line">
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
          <span>Подниму бизнес с нуля</span>
        </div>
      </div>
    </div>
  </div>
</section>