<section class="about-project">
  <div class="container">
    <h2 class="main-title title">Webnauts</h2>
    <h2 class="about-project__title title">О проекте</h2>
    <div class="about-project__text">
      <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
      <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
    </div>
    <a href="#" class="link">webnauts.pro</a>
    <picture class="about-project__img">
      <source srcset="img/mobile/about-project.avif" type="" media="">
      <source srcset="img/mobile/about-project.webp" type="" media="">
      <img src="img/mobile/about-project.jpg" alt="intro photo" class="img-border" />
    </picture>

  </div>
</section>