<section class="growth-rates">
  <div class="container">
    <h2 class="growth-rates__title title">Показатели роста</h2>
    <div class="growth-rates__text">
      <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
    </div>
    <div class="growth-rates__slider slider">
      <div class="slider__inner">
        <picture class="growth-rates__img">
          <source srcset="img/mobile/growth-rates.avif" type="" media="">
          <source srcset="img/mobile/growth-rates.webp" type="" media="">
          <img src="img/mobile/growth-rates.jpg" alt="intro photo" class="" />
        </picture>
        <picture class="growth-rates__img">
          <source srcset="img/mobile/growth-rates.avif" type="" media="">
          <source srcset="img/mobile/growth-rates.webp" type="" media="">
          <img src="img/mobile/growth-rates.jpg" alt="intro photo" class="" />
        </picture>
      </div>
    </div>
  </div>
</section>