<section class="growth-rates">
  <div class="container">
    <h2 class="growth-rates__title title">Показатели роста</h2>
    <div class="growth-rates__text">
      <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
    </div>
    <picture class="growth-rates__img--main">
      <source srcset="img/mobile/growth-rates1.avif" type="" media="">
      <source srcset="img/mobile/growth-rates1.webp" type="" media="">
      <img src="img/mobile/growth-rates1.jpg" alt="intro photo" class="" />
    </picture>
    <div class="growth-rates__slider slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates1.avif" type="" media="">
            <source srcset="img/mobile/growth-rates1.webp" type="" media="">
            <img src="img/mobile/growth-rates1.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates2.avif" type="" media="">
            <source srcset="img/mobile/growth-rates2.webp" type="" media="">
            <img src="img/mobile/growth-rates2.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates3.avif" type="" media="">
            <source srcset="img/mobile/growth-rates3.webp" type="" media="">
            <img src="img/mobile/growth-rates3.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates3.avif" type="" media="">
            <source srcset="img/mobile/growth-rates3.webp" type="" media="">
            <img src="img/mobile/growth-rates3.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates3.avif" type="" media="">
            <source srcset="img/mobile/growth-rates3.webp" type="" media="">
            <img src="img/mobile/growth-rates3.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates3.avif" type="" media="">
            <source srcset="img/mobile/growth-rates3.webp" type="" media="">
            <img src="img/mobile/growth-rates3.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates3.avif" type="" media="">
            <source srcset="img/mobile/growth-rates3.webp" type="" media="">
            <img src="img/mobile/growth-rates3.jpg" alt="intro photo" class="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="growth-rates__img">
            <source srcset="img/mobile/growth-rates3.avif" type="" media="">
            <source srcset="img/mobile/growth-rates3.webp" type="" media="">
            <img src="img/mobile/growth-rates3.jpg" alt="intro photo" class="" />
          </picture>
        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>