<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="header__logo">
        <img src="./img/logo.svg" alt="Company logotype">
      </a>
      <button class="btn-reset theme-toggle">
        <svg class="theme-togle__icon theme-togle__icon--day hiden">
          <use xlink:href="img/sprite.svg#icon-day-mode"></use>
        </svg>
        <svg class="theme-togle__icon theme-togle__icon--night">
          <use xlink:href="img/sprite.svg#icon-night-mode"></use>
        </svg>
      </button>
      <nav class="nav">
        <button class="btn-reset burger">
          <svg class="burger__icon">
            <use xlink:href="img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <ul class="nav__list list-reset hiden">
          <button class="nav__close modal-close btn-reset">
            <svg>
              <use xlink:href="img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <li class="nav__item"><a href="#" class="nav__link">Обо мне</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Мои проекты</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
          <div class="btn-wrapper">
            <button class="btn">Связаться со мной</button>
          </div>
        </ul>
      </nav>
      <button class="contact-me hiden"></button>
    </div>
  </div>
</header>