<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <h1 class="main-title title"><span>Бизнес-</span>консалтинг</h1>
      <div class="intro__text">
        <p>Консультирую по вопросам масштабирования бизнеса</p>
      </div>
      <picture class="intro__img">
        <source srcset="img/mobile/intro-photo.avif" type="" media="">
        <source srcset="img/mobile/intro-photo.webp" type="" media="">
        <img src="img/mobile/intro-photo.jpg" alt="intro photo" class="img-shadow" />
      </picture>
    </div>
  </div>
</section>