<section class="intro">
  <div class="container">
    <div class="intro__inner">
      <h1 class="main-title title"><span>Бизнес-</span>консалтинг</h1>
      <div class="intro__text">
        <p>Консультирую по вопросам масштабирования бизнеса</p>
      </div>
      <picture>
        <source srcset="img/mobile/intro-photo.avif">
        <source srcset="img/mobile/intro-photo.webp">
        <img src="img/mobile/intro-photo.jpg" alt="intro photo" class="intro__img img-shadow">
      </picture>
    </div>
  </div>
</section>