<section class="other-projects">
  <div class="container">
    <div class="section-separator"></div>
    <div class="other-projects__inner">
      <h2 class="other-projects__title title">Другие проекты</h2>
      <div class="other-projects__slider slider">
        <div class="slider__slide focus">
          <img src="./img/other-logo.svg" alt="project logo" class="slider__logo">
          <div class="slider__text">
            <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
            <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </div>
        </div>
        <div class="slider__slide">
          <img src="./img/other-logo.svg" alt="project logo" class="slider__logo">
          <div class="slider__text">
            <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
            <p>По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>