<section class="specialization">
  <div class="container">
    <div class="section-separator"></div>
    <div class="specialization__inner">
      <h2 class="specialization__title title">Основные специализации</h1>
      <ul class="specialization__list">
        <li class="specialization__item">
          <details class="specialization__details">
            <summary><h3 class="title specialization-list__title">Увеличение продаж</h3></summary>
            <p class="specialization__text">По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </details>
        </li>
        <li class="specialization__item">
          <details class="specialization__details">
            <summary><h3 class="title specialization-list__title">Повышение узнаваемости</h3></summary>
            <p class="specialization__text">По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </details>
        </li>
        <li class="specialization__item">
          <details class="specialization__details">
            <summary><h3 class="title specialization-list__title">Расширение компании</h3></summary>
            <p class="specialization__text">По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </details>
        </li>
        <li class="specialization__item">
          <details class="specialization__details">
            <summary><h3 class="title specialization-list__title">Что-то еще</h3></summary>
            <p class="specialization__text">По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </details>
        </li>
        <li class="specialization__item">
          <details class="specialization__details">
            <summary><h3 class="title specialization-list__title">Что-то еще</h3></summary>
            <p class="specialization__text">По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </details>
        </li>
        <li class="specialization__item">
          <details class="specialization__details">
            <summary><h3 class="title specialization-list__title">Что-то еще</h3></summary>
            <p class="specialization__text">По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз. По их почти единодушному мнению, самоактуализация откровенна. Толпа понимает объект. Действие точно аннигилирует генезис. Самонаблюдение, конечно, притягивает филосовский гомеостаз.</p>
          </details>
        </li>
      </ul>
    </div>
  </div>
</section>