<section class="testimonials">
  <div class="container">
    <div class="section-separator"></div>
    <div class="testimonials__inner">
      <h2 class="testimonials__title title">Видео отзывы</h2>
      <div class="testimonials__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials1-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Уилл Смит</span>
            <span class="testimonials__role">Актер, певец, классный мужик</span>
          </div>
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials2-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Марк Аврелий</span>
            <span class="testimonials__role">Римский император, философ</span>
          </div>
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials3-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Уилл Смит</span>
            <span class="testimonials__role">Актер, певец, классный мужик</span>
          </div>
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials3-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Уилл Смит</span>
            <span class="testimonials__role">Актер, певец, классный мужик</span>
          </div>
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials3-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Уилл Смит</span>
            <span class="testimonials__role">Актер, певец, классный мужик</span>
          </div>
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials1-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Уилл Смит</span>
            <span class="testimonials__role">Актер, певец, классный мужик</span>
          </div>
          <div class="swiper-slide">
            <div class="video-block">
              <button class="btn-reset video-block__play">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-play"></use>
                </svg>
              </button>
              <video src="videos/lorem.mp4" poster="img/cover/testimonials3-cover.jpg" preload="metadata" class="video-block__video"></video>
            </div>
            <span class="testimonials__name">Уилл Смит</span>
            <span class="testimonials__role">Актер, певец, классный мужик</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>