@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
      url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
      url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
		url('../fonts/BebasNeueRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Bold'), local('BebasNeueRegular'),
		url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}