.light {
  --accent-color: #83C1FA;
  --bg-color: white;
  --text-color: #262626;
  --results-color: #83C1FA;
  --icon-color: #E0E0E0;
}

.dark {
  --accent-color: #83C1FA;
  --bg-color: #262626;
  --text-color: white;
  --results-color: white;
  --icon-color: #3C3C3C;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;

  font-family: 'SF Pro Display';
  font-size: 14px;
}

.container {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  max-width: 1140px;
}

.btn-reset {
  background: none;
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

.btn {
  cursor: pointer;
}

.hiden {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.title {
  font-family: 'Bebas Neue';
  margin: 25px 0;
}

.main-title {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px rgba(131, 193, 250, 1);

  & span {
    color: #262626;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #262626;
    text-shadow: none;
  }
}

.img-shadow {
  box-shadow: 3px 3px 0px rgba(131, 193, 250, 1);;
}